<!DOCTYPE html>
<html ng-app="myapp">
	<head>
		<meta charset="UTF-8">
		<title>我的购物车demo</title>
		<style type="text/css">
			/*小箭头颜色*/
			.orderColor{
				color:red;
			}
		</style>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>
	</head>
	<body>
		
		<div class="container" ng-controller="cartController">
			<nav class="navbar navbar-default" role="navigation">
			    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			        <form class="navbar-form navbar-left" role="search">
			            <div class="form-group">
			                <input type="text" ng-model="search.id" class="form-control" placeholder="输入您要的产品型号" >
			            </div>
			        </form>
			    </div>
			</nav>
			<table class="table" ng-show="cart.length">
				<thead>
					<tr>
						<th ng-click="changeOrder('id')" ng-class="{dropup : order === ''}">
							产品编号
							<span ng-class="{orderColor:orderType==='id'}"class="caret"></span>
						</th>
						<th ng-click="changeOrder('name')" ng-class="{dropup : order === ''}">
							产品名字
							<span ng-class="{orderColor:orderType==='name'}" class="caret"></span>
						</th>
						<th>购买数量</th>
						<th ng-click="changeOrder('price')" ng-class="{dropup : order === ''}">
							产品单价
							<span ng-class="{orderColor:orderType==='price'}" class="caret"></span>
						</th>
						<th>产品总价</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in cart | filter:search | orderBy: order + orderType">
						<!--自定义过滤器的用法如下一行代码-->
					<!--<tr ng-repeat="item in cart | name>-->
						<td ng-bind="item.id"></td>
						<td ng-bind="item.name"></td>
						<td>
							<button type="button" class="btn btn-primary" ng-click="reduce(item.id)">-</button>
							<input type="text" ng-model="item.num" />
							<button type="button" class="btn btn-primary" ng-click="addNum(item.id)">+</button>
						</td>
						<td ng-bind="item.price | currency : '¥'"></td>
						<td ng-bind="item.price*item.num | currency : '¥'"></td>
						<td>
							<button class="btn btn-danger" ng-click="remove(item.id)">移除</button>
						</td>
					</tr>
					<tr>
						<td>总购买价：</td>
						<td ng-bind="totalPrice()| currency : '¥'"></td>
						<td>购买数量：</td>
						<td ng-bind="totalNum()"></td>
						<td colspan="2">
							<button class="btn btn-danger" ng-click="cart={}">清空购物车</button>
						</td>
					</tr>
				</tbody>
			</table>
			<p ng-show="!cart.length">购物已经空空喽！ 赶紧选购喽！</p>
		</div>
		
		<script src="js/angular.min.js"></script>
		<script src="js/app.js"></script>
	</body>
</html>
