<!DOCTYPE html>
<html ng-app="app">
	<head>
		<meta charset="UTF-8">
		<title></title>
		<style type="text/css">
			.box{ width:200px; height:200px; background:red;position: absolute; transition:2s all;}
			.box.ng-enter{ opacity:0;}
			.box.ng-enter-active{ opacity:1;}
			.box.ng-leave{ opacity:1;}
			.box.ng-leave-active{ opacity:0;}
		</style>
		<script src="js/angular.min.js"></script>
		<script src="http://cdn.bootcss.com/angular.js/1.2.8/angular-animate.min.js"></script>
	</head>
	<body>
		<div ng-controller="myCtrl">
			<input type="checkbox" ng-model="bBtn"/>
			<div ng-if="bBtn" class="box"></div>
		</div>
		<script>
			var app = angular.module('app',['ngAnimate']);
			app.controller('myCtrl',['$scope',function($scope){
				$scope.bBtn = true;
			}]);
		</script>
	</body>
</html>