<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<style type="text/css">
			.submit_btn .btn{
				/*width:100%;*/
				display:block;
			}
			.waring{
				height:30px;
				overflow: hidden;
			}
		</style>
		<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0"/>
		<link rel="stylesheet" href="../css/bootstrap.css" />
		<script src="../js/angular.min.js"></script>
	</head>
	<body ng-app="app">
		<div class="container" ng-controller="myCtrl">
			<h1 class="text-center">注册系统</h1>
			<form name="regist" class="form-horizontal container-fluid">
				<div calss="row form-group">
					<div class="col-xs-4"><label for="user_name">用户名：</label></div>
					<div class="col-xs-8"><input id="user_name" name="username" type="text" nt-model="data.username" ng-minlength="4" ng-maxlength="6"/></div>
				</div>
				<div calss="row form-group">
					<div class="col-xs-4"><label for="tel">用户名：</label></div>
					<div class="col-xs-8"><input id="tel" name="tel" type="text" ng-model="data.tel" pattern="^1d{10}$"></div>
				</div>
				<div calss="row form-group">
					<div class="col-xs-4"><label for="address">地&emsp址：</label></div>
					<div class="col-xs-8"><input id="address" name="address" type="text" ng-model="data.address" ng-required="true"/></div>
				</div>
				<div calss="row form-group">
					<div class="col-xs-4"><label for="email">邮&emsp箱：</label></div>
					<div class="col-xs-8"><input id="email" name="email" type="text" ng-model="data.email" ng-pattern="/^\w+@\w+\.\w+$/"/></div>
				</div>
				<div class="waring">
					<p class="text-danger" ng-show="regist.username.$dirty && regist.username.$invalid">请输入正确的名字</p>
					<p class="text-danger" ng-show="regist.tel.$dirty && regist.tel.$invalid">请输入正确的手机号码</p>
					<p class="text-danger" ng-show="regist.address.$dirty && regist.address.$invalid">地址必须填写</p>
					<p class="text-danger" ng-show="regist.email.$dirty && regist.email.$invalid">请输入正确的邮箱格式</p>
					<p class="text-danger" ng-show="showAllErr">请添加完整</p>
				</div>
				<div class="row submit_btn" >
					<button class="btn btn-success">提交</button>
				</div>
			</form>
		</div>
		<script type="text/javascript">
			var app = angular.module('app',[]);
			app.controller('myCtrl',['$scope',function($scope){
				$scope.data = {};
				$scope.showAllErr = false;
				$scope.check = function(){
					$scope.showAllErr = $scope.regist.$invalid;
					if( $scope.regist.$valid){
						console.log($scope.regist.$valid)
					}
				}
			}])
		</script>
	</body>
</html>
